body {
    background: #EEEEEE;
}

nav {
    background: #1FA9E5;
    padding: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mp-logo {
    width: 40px;
}

.checkout {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    color: #505050;
    box-shadow: #0000001a 0px 1px 1px 0px, #0000000f 0px 1px 1px 0px;
}

.pay-title {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .container {
        max-width: 570px;
    }

    .checkout {
        width: 100%;
        max-width: 570px;
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-border {
    color: #1FA9E5;
    width: 3rem;
    height: 3rem;
}

.label-entry {
    font-size: 16px;
    margin-left: 2px;
    color: #333333c9;
}

.entry {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #33333342;
    padding: 12px;
    outline: none;
    color: #3b3b3bcb;
}

.entry:focus {
    border: 1px solid #1FA9E5;
}

.card-entry {
    padding: 12px 38px 12px 12px;
}

.bi-credit-card {
    font-size: 18px;
    color: #969696ea;
}

.entry-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.confirm {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn-copy {
    background: #1FA9E5;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 40px 10px 40px;
}

.img-qr-code {
    width: 200px;
}

.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.time-left-label {
    font-size: 16px;
    color: #333333c9;
}

.time-left {
    font-weight: 500;
}

.code-area {
    margin-top: 10px;
}

.code-copy {
    background: #F5F5F5;
    color: #333333b7;
    font-weight: 400;
    border: 1px solid #B7B7B7;
    border-radius: 6px;
    padding: 8px;
    margin: 20px 0px 20px 0px;
    word-wrap: break-word;
}